body{
	margin-right:0px;
	margin-left:0px;	
}


#layout-cabecera{
	background: #9d0000 url(../images/header_back.png) repeat-x top;	
}

#icon-user{
	font-size: 22px; 
	color:#C0C0C0; 
	background-color:black;
    padding: 12px 14px;
  	margin: 2px 7px;  
}

#identidad_usuario_administrativo{
	color: #FFFFFF;	
	font-weight:bold;
    text-shadow: 1px 1px 2px black;	
}

#identidad_cliente{
	color: #FFFFFF;	
	font-weight:bold;
    text-shadow: 1px 1px 2px black;
}

#seleccion_marcacion_cliente{
	color: #fedd00;
	font-weight:bold;
    text-shadow: 1px 1px 2px black;
	font-size:13px;
}

.menu-app{
	background-color: #AFAFAF;
	position: fixed; 
	top: 0; 
	right: 0; 
	bottom:0px; 	
	margin-bottom:0px;
}

.menu-app-adorno{
	line-height: 75px;
	background: #3d3d3d;	
	font-size: 20px;
	text-align: center;
	color: #AFAFAF;
}

.menu-app-body{
	padding: 0px 10px 0px;	
}

.menu-app-opcion{
	line-height: 65px;
	text-align: center;
	font-size: 20px;
	color: #afafaf;
	cursor: pointer;
	border-bottom: dotted 2px #808080;
	width: 40px;
	position:relative;	
}


.notification {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 50;
  margin-top:35px;
  right:0px;
  background: green;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
}


.message_add {
  width: 120px;
  right: 60px;
  top: -10px;
  background: #f6b900;
  border-radius: 5px;
  -webkit-box-shadow: #767676 1px 2px 4px;
  -moz-box-shadow: #767676 1px 2px 4px;
  box-shadow: #767676 1px 2px 4px;
  padding: 15px;
  border: 1px solid #e0a300;
  position: absolute;
  font-family: "Muli",sans-serif;
  font-size: 12px;
  line-height:16px;
  text-align: center;
  z-index: 20000;
  color: #fff;
}



/*------------------------------------------------------------------------*/
/*----------------------MENU ADMINISTRATADOR------------------------------*/
/*------------------------------------------------------------------------*/
.link_opcion{
	color:#FFFFFF;	
	text-align:center;
	font-family: 'Muli', sans-serif;	
	cursor: pointer;	
	color: #fff;		
}

.link_opcion .link-icono{
	border-radius: 25px;
	line-height: 10px;
	font-size: 10px;
	padding: 5px 5px 5px 5px;	
	display:inline-flex;
	margin-bottom: 3px;
}


.link_opcion  .link-title{
	border-radius: 20px;
	font-size: 14px;
	padding: 2px 10px 2px 10px;
	text-align: center;
	min-width:150px;
	margin-bottom: 20px
}


/* line 637, ../sass/main.scss */
.back1 {
  background: #f3565d;
}

/* line 641, ../sass/main.scss */
.back2 {
  background: #ff8400;
}

/* line 645, ../sass/main.scss */
.back3 {
  background: #f3bd56;
}

/* line 649, ../sass/main.scss */
.back4 {
  background: #628e29;
}

/* line 653, ../sass/main.scss */
.back5 {
  background: #878471;
}

/* line 657, ../sass/main.scss */
.back6 {
  background: #17929d;
}

/* line 661, ../sass/main.scss */
.back7 {
  background: #3268ab;
}

/* line 665, ../sass/main.scss */
.back8 {
  background: #5389ae;
}

/* line 669, ../sass/main.scss */
.back9 {
  background: #0e2b80;
}
/*------------------------------------------------------------------------*/
/*---------------------END MENU ADMINISTRADOR-----------------------------*/
/*------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/*-------------------CONTENEDORES PARA EL PORTAL WEB----------------------*/
/*------------------------------------------------------------------------*/
.bootstrap-marco{
  padding: 8px;
  border: 1px solid #c4c5c5;
 /* display: inline-block;*/
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -moz-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -o-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: linear-gradient(top, #fbfbfb, #e5e5e5);
  -webkit-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  -moz-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;	
}


.marca-container {
  padding: 8px;
  border: 1px solid #c4c5c5;
  margin-right: 55px;
 /* display: inline-block;*/
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -moz-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -o-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: linear-gradient(top, #fbfbfb, #e5e5e5);
  -webkit-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  -moz-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
}

.marca-container div{
	margin-right:5px;
}

.marca-container select{
	min-width:180px;
}

.separator {
  padding-right: 15px;
  margin-right: 20px;
  border-right: 2px solid #ccc;
  -webkit-box-shadow: 1px 0 0 white;
  -moz-box-shadow: 1px 0 0 white;
  box-shadow: 1px 0 0 white;
}

.title-section {
  padding: 8px;
  margin: 30px 0;
  margin-right: 70px;
  min-height: 55px;
  border: solid 1px #bfbfbf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3efeb), color-stop(100%, #dedad6));
  background-image: -webkit-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -moz-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -o-linear-gradient(top, #f3efeb, #dedad6);
  background-image: linear-gradient(top, #f3efeb, #dedad6);
  -webkit-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  -moz-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
}



/* line 182, ../sass/main.scss */
.title-section h1 {
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 28px;
  text-shadow: 0 1px 0 white;
  font-family: 'Muli', sans-serif;
}
/* line 192, ../sass/main.scss */
.title-section .letter {
  margin: 10px 8px;
  font-size: 12px;
}

.title-admin-section {
  z-index: 1;
  position:absolute;
  top:50px;
  left:100px;
  /*width:100%;*/
  margin-right:0px;
  /*padding: 8px;*/
  /*margin: 30px 0;*/
  /*margin-right: 50px;*/
  /*min-height: 30px;*/
  /*border: solid 1px #bfbfbf;*/
 /* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82B3EF), color-stop(100%, #173A6F));
  background-image: -webkit-linear-gradient(top, #82B3EF, #173A6F);
  background-image: -moz-linear-gradient(top, #82B3EF, #173A6F);
  background-image: -o-linear-gradient(top, #82B3EF, #173A6F);
  background-image: linear-gradient(top, #82B3EF, #173A6F);
  -webkit-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  -moz-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  */
}
.title-admin-section h1 {
  margin: 0;
/*  margin-left: 10px;*/
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
 /* font-size: 20px;
  color:#DDD503;
  text-shadow: 0 1px 0 #000000;
  font-family: 'Muli', sans-serif;
  */
	color: #ffffff;
	font-weight:bold;
    text-shadow: 1px 1px 2px black;
	font-size:20px;  
}

.body-admin-section
{
	margin-top:3px;
	margin-left:3px;
	margin-right:65px;	
}

.accion-admin-section{
}

.botonera-admin-section{
	margin-bottom:3px;
	line-height:25px;			
}

.busqueda-admin-section{
	margin-bottom:3px
}


/*-------------------------------------------------------------------------------------------------------*/
/*------------------------------------------CLASE PARA LAS TABLAS----------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
.table-dispo .th-inner {
  background: #000;
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b6b6b), color-stop(100%, #363636));
  background-image: -webkit-linear-gradient(top, #6b6b6b, #363636);
  background-image: -moz-linear-gradient(top, #6b6b6b, #363636);
  background-image: -o-linear-gradient(top, #6b6b6b, #363636);
  background-image: linear-gradient(top, #6b6b6b, #363636);
}

.table-dispo .th-inner:first-child {
  border-top-left-radius: 5px;
}

.table-dispo .th-inner:last-child {
  border-top-right-radius: 5px;
}

.table-dispo thead th {
  padding: 8px 0;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}

.table-dispo tbody td {
  padding: 3px 5px;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}

.table-dispo tbody td:first-child {
  border-left: 1px solid #cdcdcd;
}

.table-container .table-dispo tbody td:last-child {
  border-right: 1px solid #cdcdcd;
}

/*--------------------------------------------------------------------------------*/
/*---------------------------NOTIFICACIONES DE COMPRAS----------------------------*/
/*--------------------------------------------------------------------------------*/
/* line 3, ../sass/_arrow.scss */
.arrow_right:after, .arrow_right:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 12, ../sass/_arrow.scss */
.arrow_right:after {
  border-left-color: #f6b900;
  border-width: 10px;
  top: 40px;
  margin-top: -10px;
}
/* line 18, ../sass/_arrow.scss */
.arrow_right:before {
  border-left-color: #999999;
  border-width: 11px;
  top: 40px;
  margin-top: -11px;
}


/*------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------CARGADOR------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
.loading-state {
  position: absolute;
  top: 0;
  z-index: 9999;
  background: #444;
  opacity: 0.4;
  width: 100%;
  min-height: 100%;
}

.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}


@-webkit-keyframes load6 {
  /* line 702, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }

  /* line 708, ../sass/main.scss */
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }

  /* line 711, ../sass/main.scss */
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.51em -0.66em 0 -0.42em #fff, -0.75em -0.36em 0 -0.44em #fff, -0.83em -0.03em 0 -0.46em #fff, -0.81em 0.21em 0 -0.477em #fff;
  }

  /* line 714, ../sass/main.scss */
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.29em -0.78em 0 -0.42em #fff, -0.43em -0.72em 0 -0.44em #fff, -0.52em -0.65em 0 -0.46em #fff, -0.57em -0.61em 0 -0.477em #fff;
  }

  /* line 717, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
}

@keyframes load6 {
  /* line 724, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }

  /* line 730, ../sass/main.scss */
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }

  /* line 733, ../sass/main.scss */
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.51em -0.66em 0 -0.42em #fff, -0.75em -0.36em 0 -0.44em #fff, -0.83em -0.03em 0 -0.46em #fff, -0.81em 0.21em 0 -0.477em #fff;
  }

  /* line 736, ../sass/main.scss */
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.29em -0.78em 0 -0.42em #fff, -0.43em -0.72em 0 -0.44em #fff, -0.52em -0.65em 0 -0.46em #fff, -0.57em -0.61em 0 -0.477em #fff;
  }

  /* line 739, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
}