@font-face {
  font-family: 'lucida_calligraphyitalic';
  src: url("lcallig_1-webfont.eot");
  src: url("lcallig_1-webfont.eot?#iefix") format("embedded-opentype"), url("lcallig_1-webfont.woff") format("woff"), url("lcallig_1-webfont.ttf") format("truetype"), url("lcallig_1-webfont.svg#lucida_calligraphyitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 29, ../sass/main.scss */
html {
  height: 100%;
}

/* line 33, ../sass/main.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 39, ../sass/main.scss */
body {
  background: url(../images/back_pattern.jpg);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  min-height: 100%;
  position: relative;
  color: #4d4d4d;
}

/* line 49, ../sass/main.scss */
a {
  color: #4d4d4d;
}

/* line 53, ../sass/main.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

/* line 57, ../sass/main.scss */
#page {
  width: 100%;
  top: 0;
  min-height: 100%;
  height: auto !important;
  padding-bottom: 20px;
}

/* line 68, ../sass/main.scss */
#head_fix {
  width: 100%;
  height: 75px;
  position: relative;
  /* top: 0px;
  left: 0px; */
  background: #9d0000 url(../images/header_back.png) repeat-x top;
  z-index: 100;
  -webkit-box-shadow: 0px 1px 3px #333333;
  -moz-box-shadow: 0px 1px 3px #333333;
  box-shadow: 0px 1px 3px #333333;
}

/* line 79, ../sass/main.scss */
header {
  background: url(../images/header_back.jpg) no-repeat center top;
  height: 75px;
}

/* line 84, ../sass/main.scss */
.user-info {
  margin-top: 15px;
}
/* line 86, ../sass/main.scss */
.user-info .icon-user {
  width: 40px;
  height: 40px;
  background: #353535;
  line-height: 35px;
  text-align: center;
}
/* line 92, ../sass/main.scss */
.user-info .icon-user img {
  display: inline-block;
}
/* line 96, ../sass/main.scss */
.user-info h2, .user-info h4 {
  margin: 8px 8px 0 8px;
}
/* line 99, ../sass/main.scss */
.user-info h2, .user-info h3 {
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}
/* line 107, ../sass/main.scss */
.user-info h3 {
  font-size: 12px;
  margin: 5px 5px 0 8px;
  color: #fedd00;
}
/* line 111, ../sass/main.scss */
.user-info h3 b {
  font-weight: bold;
  color: #fff;
}
/* line 118, ../sass/main.scss */
.user-info p {
  margin-left: 8px;
  color: #00c429;
  text-decoration: underline;
  cursor: pointer;
  line-height: 20px;
}
/* line 127, ../sass/main.scss */
.user-info h4 {
  color: #00c429;
  font-size: 11px;
  text-align: right;
  margin-top: 3px;
}

/* line 134, ../sass/main.scss */
.user-menu {
  width: 65px;
  height: 75px;
  background: #3d3d3d;
  line-height: 75px;
  text-align: center;
  font-size: 20px;
  color: #afafaf;
  cursor: pointer;
}
/* line 143, ../sass/main.scss */
.user-menu span {
  display: inline-block;
}

/* line 148, ../sass/main.scss */
.menu-right {
  width: 65px;
  background: #afafaf;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 90px 10px 0;
}
/* line 156, ../sass/main.scss */
.menu-right ul {
  padding: 0;
  list-style: none;
  width: 45px;
}
/* line 160, ../sass/main.scss */
.menu-right ul li {
  text-align: center;
  padding: 18px 0;
  border-bottom: dotted 2px #808080;
  position: relative;
}
/* line 166, ../sass/main.scss */
.menu-right ul li:last-child {
  border: none;
}

/* line 173, ../sass/main.scss */
.title-section {
  padding: 8px;
  margin: 30px 0;
  min-height: 55px;
  border: solid 1px #bfbfbf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3efeb), color-stop(100%, #dedad6));
  background-image: -webkit-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -moz-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -o-linear-gradient(top, #f3efeb, #dedad6);
  background-image: linear-gradient(top, #f3efeb, #dedad6);
  -webkit-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  -moz-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
}
/* line 182, ../sass/main.scss */
.title-section h1 {
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 28px;
  text-shadow: 0 1px 0 white;
  font-family: 'Muli', sans-serif;
}
/* line 192, ../sass/main.scss */
.title-section .letter {
  margin: 10px 8px;
  font-size: 12px;
}

.title-admin-section {
  padding: 8px;
  /*margin: 30px 0;*/
  min-height: 30px;
  border: solid 1px #bfbfbf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82B3EF), color-stop(100%, #173A6F));
  background-image: -webkit-linear-gradient(top, #82B3EF, #173A6F);
  background-image: -moz-linear-gradient(top, #82B3EF, #173A6F);
  background-image: -o-linear-gradient(top, #82B3EF, #173A6F);
  background-image: linear-gradient(top, #82B3EF, #173A6F);
  -webkit-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  -moz-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
}
.title-admin-section h1 {
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 20px;
  color:#FFFFFF;
  text-shadow: 0 1px 0 #98C95E;
  font-family: 'Muli', sans-serif;
}



/* line 201, ../sass/main.scss */
.subtitle-section {
  margin: 0;
  font-size: 16px;
  line-height: 35px;
  text-shadow: 1px 1px 0 white;
  padding-right: 10px;
}

/* line 210, ../sass/main.scss */
.search {
  height: 40px;
  margin-right: 10px;
}
/* line 214, ../sass/main.scss */
.search .input-search {
  width: 180px;
  border: solid 1px #bfbfbf;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}
/* line 223, ../sass/main.scss */
.search .button-search {
  width: 48px;
  line-height: 36px;
  border: solid 1px #bfbfbf;
  padding: 0;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -moz-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -o-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: linear-gradient(top, #fbfbfb, #e5e5e5);
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}

.search .input-search2 {
  margin-top:-5px;
  width: 180px;
  border: solid 1px #bfbfbf;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}
/* line 223, ../sass/main.scss */
.search .button-search2 {
  margin-top:-5px;	
  width: 48px;
  line-height: 25px;
  border: solid 1px #bfbfbf;
  padding: 0;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -moz-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -o-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: linear-gradient(top, #fbfbfb, #e5e5e5);
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}

/* line 238, ../sass/main.scss */
.table-container {
  position: relative;
}
/* line 240, ../sass/main.scss */
.table-container .table-dispo {
  text-align: center;
  font-size: 11px;
  border-radius: 6px;
  width: 100%;
}
/* line 246, ../sass/main.scss */
.table-container .table-dispo td {
  padding: 8px 0;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}
/* line 250, ../sass/main.scss */
.table-container .table-dispo td:last-child {
  border-right: none;
}
/* line 254, ../sass/main.scss */
.table-container .table-dispo .th-inner {
  background: #000;
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b6b6b), color-stop(100%, #363636));
  background-image: -webkit-linear-gradient(top, #6b6b6b, #363636);
  background-image: -moz-linear-gradient(top, #6b6b6b, #363636);
  background-image: -o-linear-gradient(top, #6b6b6b, #363636);
  background-image: linear-gradient(top, #6b6b6b, #363636);
}
/* line 262, ../sass/main.scss */
.table-container .table-dispo .th-inner:first-child {
  border-top-left-radius: 5px;
}
/* line 265, ../sass/main.scss */
.table-container .table-dispo .th-inner:last-child {
  border-top-right-radius: 5px;
}
/* line 269, ../sass/main.scss */
.table-container .table-dispo a {
  color: #82cd00;
  text-decoration: underline;
}
/* line 274, ../sass/main.scss */
.table-container .table-dispo tr:last-child td {
  border-bottom: none;
}


.table-container .table-dispo thead th {
  padding: 8px 0;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}

.table-container .table-dispo tbody td {
  padding: 3px 5px;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
/*  border-left: 1px solid #cdcdcd;*/
}

.table-container .table-dispo tbody td:first-child {
  border-left: 1px solid #cdcdcd;
}

.table-container .table-dispo tbody td:last-child {
  border-right: 1px solid #cdcdcd;
}




/* line 283, ../sass/main.scss */
.button-class {
  padding: 10px 20px;
  border: 1px solid #c5c5c5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3efeb), color-stop(100%, #dedad6));
  background-image: -webkit-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -moz-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -o-linear-gradient(top, #f3efeb, #dedad6);
  background-image: linear-gradient(top, #f3efeb, #dedad6);
  font-weight: bold;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  margin: 30px 0;
  /* padding: 10px 20px;
  border: 1px solid #c5c5c5;
  @include background-image(linear-gradient(top, #f3efeb, #dedad6));
  font-weight: bold;
  border-radius: 5px;
  @include box-shadow(0 1px 0 #fff);
  margin: 30px 0; */
}

/* line 294, ../sass/main.scss */
.warning, .alert-success {
  font-size: 13px;
  text-align: center;
}

/* line 299, ../sass/main.scss */
.status-desc {
  margin: 8px 5px;
}

/* line 303, ../sass/main.scss */
.marca-container {
  padding: 8px;
  border: 1px solid #c4c5c5;
  display: inline-block;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -moz-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -o-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: linear-gradient(top, #fbfbfb, #e5e5e5);
  -webkit-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  -moz-box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
  box-shadow: white 1px 1px 0, #f2f2f2 -1px -1px 0 inset;
}
/* line 312, ../sass/main.scss */
.marca-container select {
  width: 140px;
  height: 30px;
  margin: 0 5px;
  padding: 2px 8px;
  font-size: 12px;
}

/* line 321, ../sass/main.scss */
.add-label {
  padding: 5px 8px;
  border: 1px solid #c5c5c5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3efeb), color-stop(100%, #dedad6));
  background-image: -webkit-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -moz-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -o-linear-gradient(top, #f3efeb, #dedad6);
  background-image: linear-gradient(top, #f3efeb, #dedad6);
  font-weight: bold;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  margin: 0 5px;
  -webkit-box-shadow: white 1px 1px 0, white 0 1px 0 inset;
  -moz-box-shadow: white 1px 1px 0, white 0 1px 0 inset;
  box-shadow: white 1px 1px 0, white 0 1px 0 inset;
  font-family: Arial, sans-serif;
  font-size: 11px;
}
/* line 326, ../sass/main.scss */
.add-label p {
  margin: 3px 0 0;
}

/* line 331, ../sass/main.scss */
.letters-cont {
  float: none;
  margin: 0 auto;
}
/* line 335, ../sass/main.scss */
.letters-cont .letter-search {
  padding: 0 0;
  border: 1px solid #c5c5c5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3efeb), color-stop(100%, #dedad6));
  background-image: -webkit-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -moz-linear-gradient(top, #f3efeb, #dedad6);
  background-image: -o-linear-gradient(top, #f3efeb, #dedad6);
  background-image: linear-gradient(top, #f3efeb, #dedad6);
  font-weight: bold;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  margin: 10px 0;
}
/* line 337, ../sass/main.scss */
.letters-cont .letter-search li {
  float: left;
  display: block;
  text-transform: uppercase;
  color: #707070;
  text-shadow: 0 1px 0 #fff;
  font-size: 11px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 10px 1em;
  text-decoration: underline;
  border-right: 1px solid #707070;
  -webkit-box-shadow: 1px 0 0 white;
  -moz-box-shadow: 1px 0 0 white;
  box-shadow: 1px 0 0 white;
}
/* line 351, ../sass/main.scss */
.letters-cont .letter-search li:last-child {
  border: none;
  box-shadow: none;
}

/* line 437, ../sass/main.scss */
.table-head {
  width: 98.7%;
}

/* line 441, ../sass/main.scss */
.table-scroll {
  max-height: 500px;
  overflow-y: scroll;
}

@media (min-height: 1200px) {
  /* line 448, ../sass/main.scss */
  .table-scroll {
    height: 800px;
  }
}
/*==========================================COMMON CLASS==============================================*/
/* line 458, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 462, ../sass/main.scss */
.centered {
  margin: 0 auto;
}

/* line 466, ../sass/main.scss */
.flo-left {
  float: left;
}

/* line 470, ../sass/main.scss */
.flo-right {
  float: right;
}

/* line 474, ../sass/main.scss */
.separator {
  padding-right: 15px;
  margin-right: 20px;
  border-right: 2px solid #ccc;
  -webkit-box-shadow: 1px 0 0 white;
  -moz-box-shadow: 1px 0 0 white;
  box-shadow: 1px 0 0 white;
}

/* line 482, ../sass/main.scss */
.loading-state {
  position: absolute;
  top: 0;
  z-index: 9999;
  background: #444;
  opacity: 0.4;
  width: 100%;
  min-height: 100%;
}

/* line 492, ../sass/main.scss */
.select-class {
  width: 50px;
  padding: 0;
  height: 28px;
  display: inline;
}

/* line 499, ../sass/main.scss */
.select-letter {
  height: 35px;
  width: 60px;
  margin-top: 2px;
  border: solid 1px #bfbfbf;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}

/* line 509, ../sass/main.scss */
.subtitle-img {
  display: inline-block;
  margin: 5px;
}

/* line 514, ../sass/main.scss */
.pointer {
  cursor: pointer;
}

/* line 518, ../sass/main.scss */
.fixed {
  position: fixed;
}

/* line 522, ../sass/main.scss */
.aparecer {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: fixed;
}

/* line 529, ../sass/main.scss */
.cabecera-table {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 533, ../sass/main.scss */
.social-icon {
  background: #000;
  padding: 5px 7px;
  margin: 0 8px;
}

/* line 539, ../sass/main.scss */
.border {
  border: 1px solid #cdcdcd;
}

/* line 543, ../sass/main.scss */
.notification {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 50;
  top: 50%;
  right: 5%;
  background: green;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
}

/* line 557, ../sass/main.scss */
.message_add {
  width: 120px;
  right: 60px;
  top: -10px;
  background: #f6b900;
  border-radius: 5px;
  -webkit-box-shadow: #767676 1px 2px 4px;
  -moz-box-shadow: #767676 1px 2px 4px;
  box-shadow: #767676 1px 2px 4px;
  padding: 15px;
  border: 1px solid #e0a300;
  position: absolute;
  font-family: "Muli",sans-serif;
  font-size: 12px;
  text-align: center;
  z-index: 20000;
  color: #fff;
}

/* line 577, ../sass/main.scss */
.link_text {
  font-size: 12px;
  font-style: italic;
  color: #008dab;
  text-decoration: underline;
}

/* line 584, ../sass/main.scss */
.yellow {
  color: #f6b900;
  font-style: normal;
}

/* line 3, ../sass/_arrow.scss */
.arrow_right:after, .arrow_right:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 12, ../sass/_arrow.scss */
.arrow_right:after {
  border-left-color: #f6b900;
  border-width: 10px;
  top: 40px;
  margin-top: -10px;
}
/* line 18, ../sass/_arrow.scss */
.arrow_right:before {
  border-left-color: #999999;
  border-width: 11px;
  top: 40px;
  margin-top: -11px;
}

/* line 593, ../sass/main.scss */
.space-around {
  display: block;
  margin: 15px;
}

/*============================================LOGIN=================================================*/
/* line 599, ../sass/main.scss */
.body-login {
  background: #232323;
}

/* line 603, ../sass/main.scss */
.login-container {
  min-width: 890px;
  min-height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -445px;
}

/* line 614, ../sass/main.scss */
.login-cont-header h2 {
  font-family: 'Muli', sans-serif;
  margin: 70px 0 0;
}

/* line 620, ../sass/main.scss */
.login-cont-body {
  width: 880px;
  height: 390px;
  margin: 20px 0;
  background: url(../images/login-cont-back.jpg) no-repeat;
  position: relative;
}
/* line 626, ../sass/main.scss */
.login-cont-body .login-form-cont {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 45px 30px;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 635, ../sass/main.scss */
.login-cont-body .login-form-cont input {
  height: 45px;
  font-size: 12px;
  color: #adadad;
  padding: 5px 10px;
}
/* line 641, ../sass/main.scss */
.login-cont-body .login-form-cont .input-group {
  width: 315px;
  margin-left: 12px;
}
/* line 644, ../sass/main.scss */
.login-cont-body .login-form-cont .input-group .pass-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 650, ../sass/main.scss */
.login-cont-body .login-form-cont .btn-login {
  width: 155px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6a941), color-stop(100%, #fa7a17));
  background-image: -webkit-linear-gradient(top, #f6a941, #fa7a17);
  background-image: -moz-linear-gradient(top, #f6a941, #fa7a17);
  background-image: -o-linear-gradient(top, #f6a941, #fa7a17);
  background-image: linear-gradient(top, #f6a941, #fa7a17);
  border: 1px solid #fa7a17;
  text-shadow: 0 1px 0 #000;
  color: #fff;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*==========================================ng-animate==============================================*/
/* line 668, ../sass/main.scss */
.my-animation {
  opacity: 1;
}

/* line 672, ../sass/main.scss */
.my-animation.ng-hide {
  opacity: 0;
}

/* line 677, ../sass/main.scss */
.my-animation.ng-hide-add,
.my-animation.ng-hide-remove {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

/*==========================================LOADER==============================================*/
/* line 685, ../sass/main.scss */
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  /* line 702, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }

  /* line 708, ../sass/main.scss */
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }

  /* line 711, ../sass/main.scss */
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.51em -0.66em 0 -0.42em #fff, -0.75em -0.36em 0 -0.44em #fff, -0.83em -0.03em 0 -0.46em #fff, -0.81em 0.21em 0 -0.477em #fff;
  }

  /* line 714, ../sass/main.scss */
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.29em -0.78em 0 -0.42em #fff, -0.43em -0.72em 0 -0.44em #fff, -0.52em -0.65em 0 -0.46em #fff, -0.57em -0.61em 0 -0.477em #fff;
  }

  /* line 717, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
}

@keyframes load6 {
  /* line 724, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }

  /* line 730, ../sass/main.scss */
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }

  /* line 733, ../sass/main.scss */
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.51em -0.66em 0 -0.42em #fff, -0.75em -0.36em 0 -0.44em #fff, -0.83em -0.03em 0 -0.46em #fff, -0.81em 0.21em 0 -0.477em #fff;
  }

  /* line 736, ../sass/main.scss */
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.29em -0.78em 0 -0.42em #fff, -0.43em -0.72em 0 -0.44em #fff, -0.52em -0.65em 0 -0.46em #fff, -0.57em -0.61em 0 -0.477em #fff;
  }

  /* line 739, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
}

/*==========================================ACCORDION==============================================*/
/* line 748, ../sass/main.scss */
.panel {
  margin-bottom: 25px;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #bbbbbb;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}

/* line 757, ../sass/main.scss */
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}

/* line 763, ../sass/main.scss */
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: inherit;
  cursor: pointer;
}
/* line 768, ../sass/main.scss */
.panel-title b {
  font-weight: bold;
  font-size: 16px;
}

/* line 779, ../sass/main.scss */
.panel-default > .panel-heading {
  color: #333333;
  background: none;
  padding-left: 0;
  position: relative;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
}
/* line 788, ../sass/main.scss */
.panel-default > .panel-heading .glyphicon {
  font-size: 16px;
}

/* line 793, ../sass/main.scss */
.panel-group {
  margin-bottom: 20px;
  width: 98%;
}

/* line 797, ../sass/main.scss */
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
}

/* line 801, ../sass/main.scss */
.panel-group .panel + .panel {
  margin-top: 5px;
}

/* line 804, ../sass/main.scss */
.panel-group .panel-heading {
  border-bottom: 0;
}

/* line 807, ../sass/main.scss */
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

/*==========================================POPOVER==============================================*/
/* line 814, ../sass/main.scss */
.popover {
  color: #333;
}
/* line 816, ../sass/main.scss */
.popover .popover-title, .popover .popover-content {
  padding: 8px;
}





/*===================================ESTILOS DEL TABLE SORTER====================================*/
.row_even {
background-color:#FFFFFF;   
}
.row_odd {
background-color:#EFEFEF;   
}
.row_even_over {
background-color:#DFEFFF;   
}
.row_odd_over {
background-color:#DFEFFF;   
}
.tablesorter thead tr th{
	cursor: pointer; cursor:hand;
}
.color_inactivo_td{
	color: red;
}


.tableinit tbody tr td{
	height:22px;
	padding-left:5px;
	padding-right:5px; 
}

.tableinit tfoot tr th{
	padding-left:5px;
	padding-right:5px; 
}

.tablesorter .number_row{
	color: #FFFFFF;
	background:#666666;
}
