.select-class2 {
  /*width: 50px;*/
  padding: 0;
  height: 28px;
  display: inline;
}


.search .input-search2 {
  margin-top:-5px;
  width: 180px;
  border: solid 1px #bfbfbf;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}


.search .button-search2 {
  margin-top:-5px;	
  width: 48px;
  line-height: 25px;
  border: solid 1px #bfbfbf;
  padding: 0;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -moz-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: -o-linear-gradient(top, #fbfbfb, #e5e5e5);
  background-image: linear-gradient(top, #fbfbfb, #e5e5e5);
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}



.table-container .table-dispo thead th {
  padding: 8px 0;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}

.table-container .table-dispo tbody td {
  padding: 3px 5px;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
/*  border-left: 1px solid #cdcdcd;*/
}

.table-container .table-dispo tbody td:first-child {
  border-left: 1px solid #cdcdcd;
}

.table-container .table-dispo tbody td:last-child {
  border-right: 1px solid #cdcdcd;
}



/*===================================ESTILOS DEL TABLE SORTER====================================*/
.row_even {
background-color:#FFFFFF;   
}
.row_odd {
background-color:#EFEFEF;   
}
.row_even_over {
background-color:#DFEFFF;   
}
.row_odd_over {
background-color:#DFEFFF;   
}
.tablesorter thead tr th{
	cursor: pointer; cursor:hand;
}
.color_inactivo_td{
	color: red;
}


.tableinit tbody tr td{
	height:22px;
	padding-left:5px;
	padding-right:5px; 
}

.tableinit tfoot tr th{
	padding-left:5px;
	padding-right:5px; 
}

.tablesorter .number_row{
	color: #FFFFFF;
	background:#666666;
}


/*=================================ESTILOS PARA TABLA DE MANTENIMIENTOS==============================*/
	.tbl_formulario_mantenimiento td{
		padding-left: 3px;
		padding-top: 1px;
		padding-bottom: 1px;	
	}
	
	
	.tbl_formulario_mantenimiento tr:nth-child(even){
		background: #E5E5E5;
	}

	
	.row_estado_inactivo{
		color:red;
	}
	
	
	
.disabledTab{
	pointer-events: none;
}

/*--------------------------------------------------------*/
/* BEGIN - Estilos Controles Jquery-UI  				  */
/*--------------------------------------------------------*/
/*Se establece el tipo de letra que usará la aplicacion*/
.ui-widget {
	font-family:verdana;
	font-size: 10px;	
}

.ui-autocomplete {
    overflow: auto;
}

.ui-autocomplete-working{
	background:url('../images/loader-autocomplete.gif') no-repeat right center;
}
/*--------------------------------------------------------*/
/* END - Estilos Controles Jquery-UI  				      */
/*--------------------------------------------------------*/




/*--------------------------------------------------------*/
/* BEGIN - Estilos Controles JQGrid      		  	      */
/*--------------------------------------------------------*/
/*.ui-jqgrid .ui-jqgrid-view{position:relative;left:0;top:0;padding:.0em;font-size:12px !important}
.ui-jqgrid tr.ui-row-ltr td {background-color: #FFFFFF;} */
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #fffff 50% !important;
	color: #333333;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fed22f;
	background: #fffff !important;
	color: #363636;
}

.ui-jqgrid-blockcell-background{
	border: 1px solid #fed22f;
	background: #ffe45c;
	color: #363636;
}


.text-bubble{
	background-color:#000066;
	background:#000066;
	color:#FFFFFF;
	font-weight:bold;
	font-size:10px;
	border:2px solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;	
	padding: 1px 1px 1px 1px;
}

.text-bubble-red{
	background-color:#660000;
	background:#660000;
	color:#FFFFFF;
	font-weight:bold;
	font-size:10px;
	border:2px solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;	
	padding: 1px 1px 1px 1px;
}

.row_marcado{
	background: #fffff !important;
}

.row_normal{
	background: #ffffff !important;
}
/*--------------------------------------------------------*/
/* END - Estilos Controles JQGrid        		  	      */
/*--------------------------------------------------------*/
